.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  z-index: auto;
  background-color: #e9e0da;
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.05em;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ea573e;
  font-size: 40px;
  line-height: 45px;
  font-weight: 300;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
}

p {
  margin-bottom: 0px;
  color: #000;
}

a {
  text-decoration: none;
}

.body {
  background-color: #e9e0da;
}

.width1170 {
  position: relative;
  overflow: hidden;
  max-width: 1170px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.width1170.highlight-lineup {
  overflow: visible;
  height: 5850px;
}

.width1170.video-and-online-catalog {
  overflow: visible;
  height: 500vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.width1170.links {
  overflow: hidden;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 40px 5% 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.online-catalog {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 0px 0%;
}

.container.highlight-lineup {
  position: -webkit-sticky;
  position: sticky;
  top: 0vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 1170px;
  height: 100vh;
  padding: 0px 0%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container.exhibitors {
  padding-right: 0px;
  padding-left: 0px;
}

.container.links {
  overflow: hidden;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0%;
  padding-left: 0%;
}

.container.video {
  z-index: 1;
  height: 100vh;
  margin-bottom: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.container.official-selections {
  padding-top: 0px;
}

.container.test {
  display: block;
  height: 100%;
}

.skew-button {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 4px 5px;
  border-color: #ea573e;
  background-color: #e9e0da;
  -webkit-transform: skew(37deg, 0deg);
  -ms-transform: skew(37deg, 0deg);
  transform: skew(37deg, 0deg);
}

.skew-button.inner {
  position: absolute;
  left: -105%;
  z-index: auto;
  display: block;
  width: 105%;
  height: 105%;
  border-style: none;
  border-width: 1px;
  background-color: #ea573e;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.skew-button.small {
  width: 50%;
  box-shadow: 0 0 10px 0 hsla(0, 0%, 66.7%, 0.3), 3px 2px 4px 0 rgba(234, 87, 62, 0.6);
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  cursor: pointer;
}

.skew-button.small:hover {
  box-shadow: 3px 0 10px 0 hsla(0, 0%, 66.7%, 0.3), 1px 7px 6px 0 rgba(234, 87, 62, 0.4);
}

.skew-button.small.film-festival {
  left: -50px;
  padding-left: 5%;
}

.skew-button.small.ccdp {
  right: -50px;
  width: 70%;
  padding-right: 5%;
}

.skew-button.small.filming {
  width: 30%;
  margin-left: 3%;
}

.skew-button.shadow {
  position: absolute;
  left: 70px;
  top: 40px;
  z-index: -1;
  width: 100%;
  border-style: none;
  border-width: 1px;
  background-image: linear-gradient(179deg, rgba(233, 224, 218, 0) 40%, hsla(0, 0%, 40%, 0.6));
}

.skew-button-text {
  position: relative;
  width: 100%;
  padding: 30px 40px;
  -webkit-transform: skew(-37deg, 0deg);
  -ms-transform: skew(-37deg, 0deg);
  transform: skew(-37deg, 0deg);
  color: #ea573e;
  text-align: center;
  cursor: pointer;
}

.skew-button-text.small {
  display: inline-block;
  width: auto;
  padding-right: 0px;
  padding-left: 0%;
}

.skew-button-text.small.center {
  display: block;
  padding-right: 0%;
  padding-left: 0%;
}

.skew-button-text.opacity-0 {
  opacity: 0;
  cursor: default;
}

.section-heading {
  margin-top: 60px;
  padding-top: 0px;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.section-heading.highlight-lineup {
  display: block;
  padding-bottom: 20px;
  text-align: center;
}

.skew-line {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 100%;
  border-top: 4px solid #ea573e;
  -webkit-transform: skew(37deg, 0deg);
  -ms-transform: skew(37deg, 0deg);
  transform: skew(37deg, 0deg);
}

.skew-line.lineup-nav {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  width: 15%;
  margin-bottom: -3px;
}

.selections-list {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.selections-list-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 330px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(23%, #262626), color-stop(35%, rgba(16, 16, 16, 0)), color-stop(65%, rgba(16, 16, 16, 0)), color-stop(75%, #262626)), url('../images/money_boys4.png');
  background-image: linear-gradient(90deg, #262626 23%, rgba(16, 16, 16, 0) 35%, rgba(16, 16, 16, 0) 65%, #262626 75%), url('../images/money_boys4.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, contain;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.selections-list-item.moneyboys {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(23%, #262626), color-stop(35%, rgba(16, 16, 16, 0)), color-stop(65%, rgba(16, 16, 16, 0)), color-stop(77%, #262626)), url('../images/money_boys4.png');
  background-image: linear-gradient(90deg, #262626 23%, rgba(16, 16, 16, 0) 35%, rgba(16, 16, 16, 0) 65%, #262626 77%), url('../images/money_boys4.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, contain;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.selections-list-item.samsara-ep-1 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(23%, #262626), color-stop(35%, rgba(16, 16, 16, 0)), color-stop(65%, rgba(16, 16, 16, 0)), color-stop(75%, #262626)), url('../images/Samsara-EP.png');
  background-image: linear-gradient(90deg, #262626 23%, rgba(16, 16, 16, 0) 35%, rgba(16, 16, 16, 0) 65%, #262626 75%), url('../images/Samsara-EP.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, contain;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.selections-list-item.the-abandoned-deity {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(23%, #262626), color-stop(35%, rgba(16, 16, 16, 0)), color-stop(65%, rgba(16, 16, 16, 0)), color-stop(75%, #262626)), url('../images/TAD_Poster.png');
  background-image: linear-gradient(90deg, #262626 23%, rgba(16, 16, 16, 0) 35%, rgba(16, 16, 16, 0) 65%, #262626 75%), url('../images/TAD_Poster.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, contain;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.selections-list-item.xixi {
  margin-bottom: 20px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(23%, #262626), color-stop(35%, rgba(16, 16, 16, 0)), color-stop(65%, rgba(16, 16, 16, 0)), color-stop(75%, #262626)), url('../images/Fan-and-XiXi-dancing.png');
  background-image: linear-gradient(90deg, #262626 23%, rgba(16, 16, 16, 0) 35%, rgba(16, 16, 16, 0) 65%, #262626 75%), url('../images/Fan-and-XiXi-dancing.png');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, contain;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.selections-list-item-image {
  position: absolute;
  z-index: 3;
  display: none;
  overflow: hidden;
  width: 90%;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #000;
  background-image: url('../images/money_boys4.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  color: #fff;
}

.selections-list-item-image.background-video {
  z-index: 2;
}

.selections-list-item-image.background-video.samsara {
  background-image: url('../images/Samsara-EP.png');
}

.selections-list-item-image.background-video.samsara.test {
  position: static;
  display: block;
  width: 90%;
  height: 500px;
  opacity: 1;
  -o-object-fit: fill;
  object-fit: fill;
}

.selections-list-item-image.background-video.tad {
  display: none;
  background-image: url('../images/TAD_Poster.png');
}

.selections-list-item-image.image {
  z-index: 3;
  background-image: url('../images/Samsara-EP.png');
}

.selections-list-item-image.image.moneyboys {
  background-image: url('../images/money_boys4.png');
  opacity: 1;
}

.selections-list-item-image.image.tad {
  background-image: url('../images/TAD_Poster.png');
}

.selections-list-item-image.image.xixi {
  background-image: url('../images/Fan-and-XiXi-dancing.png');
}

.selections-list-item-image.image.background-black {
  z-index: 2;
  background-image: none;
}

.selections-list-item-image.video {
  display: block;
  width: auto;
  height: auto;
  opacity: 1;
}

.selections-list-item-image.video {
  background-image: none;
}

.selections-list-item-image.thevideo {
  display: none;
  width: 100%;
  height: auto;
  background-image: none;
  opacity: 0;
}

.selections-list-item-image.thevideo:hover {
  display: block;
  opacity: 1;
}

.selections-list-item-image.youtubevideo {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 500px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  background-image: none;
  opacity: 1;
  -o-object-fit: cover;
  object-fit: cover;
}

.selections-list-item-info-details {
  position: relative;
  z-index: 4;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0.7;
  color: #fff;
}

.selections-list-item-info-details.learn-more {
  position: absolute;
  left: 5%;
  top: auto;
  right: auto;
  bottom: 5%;
  width: auto;
  opacity: 0.99;
}

.selections-list-item-info-details.hide {
  display: none;
}

.selections-list-item-info-text {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff;
}

.selections-list-item-info-text.right {
  text-align: right;
}

.selections-list-item-info-text-group {
  position: absolute;
  left: 5%;
  top: auto;
  right: 5%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  height: 500px;
  padding-right: 20px;
  padding-bottom: 100px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff;
}

.selections-list-item-info-text-group.details {
  z-index: 3;
  display: none;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
}

.selections-list-item-info-text-group.details.moneyboys {
  z-index: 3;
  display: none;
}

.selections-list-item-info-text-group.heading {
  z-index: 1;
}

.selections-list-item-info-text-group.heading.right {
  left: auto;
  top: auto;
  bottom: auto;
}

.interactive-field {
  z-index: 99;
  display: block;
  width: 60%;
  height: 330px;
}

.selections-list-item-bgblur {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: none;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(77, 77, 77, 0.5), #000);
  opacity: 0;
}

.selections-list-item-bgblur.test {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 1;
  -o-object-fit: cover;
  object-fit: cover;
}

.lineup-nav {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #ea573e;
}

.lineup-list-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.linup-list-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 1170px;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "Area Area"
    "Area-2 Area-2";
  -ms-grid-columns: 1fr 0px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 0px 1fr;
  grid-template-rows: 1fr 1fr;
}

.linup-list-grid.narritive {
  margin-right: 100px;
}

.lineup-list-item {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 330px;
  height: 100%;
  margin-right: -40px;
  margin-left: -40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 300ms ease, z-Index 300ms ease;
  transition: opacity 300ms ease, z-Index 300ms ease;
}

.lineup-list-item:hover {
  z-index: 1000;
  opacity: 1;
}

.lineup-list-item.lower-opacity {
  opacity: 0.4;
  -webkit-transition: opacity 500ms ease, z-Index 600ms ease;
  transition: opacity 500ms ease, z-Index 600ms ease;
}

.lineup-item-info {
  position: absolute;
  left: 0%;
  top: 100%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #e9e0da;
}

.lineup-item-info-text {
  width: 100%;
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: rgba(233, 224, 218, 0.8);
  text-align: center;
}

.learn-more {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-right: 0.5em;
  color: #fff;
}

.lineup-list {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  height: 100%;
  padding-right: 100px;
  padding-left: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.lineup-list.justify-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.lineup-list.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.lineup-list.justify-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.image-gray {
  height: 100%;
  opacity: 0.7;
  -webkit-filter: brightness(110%) contrast(110%) grayscale(100%);
  filter: brightness(110%) contrast(110%) grayscale(100%);
  -o-object-fit: cover;
  object-fit: cover;
}

.image-gray.cliped {
  -webkit-filter: brightness(110%) contrast(110%) grayscale(100%);
  filter: brightness(110%) contrast(110%) grayscale(100%);
}

.image-gray.cliped:hover {
  opacity: 1;
  -webkit-filter: brightness(100%) contrast(100%) grayscale(0%);
  filter: brightness(100%) contrast(100%) grayscale(0%);
}

.image-gray.cliped.too-red {
  opacity: 0.9;
  -webkit-filter: brightness(110%) contrast(110%) grayscale(100%);
  filter: brightness(110%) contrast(110%) grayscale(100%);
}

.image-gray.cliped.too-red:hover {
  opacity: 1;
  -webkit-filter: brightness(100%) contrast(100%) grayscale(0%);
  filter: brightness(100%) contrast(100%) grayscale(0%);
}

.exhibitors-list-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.exhibitors-list-group.justify-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.exhibitors-list-group-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.exhibitors-list-group-item:hover {
  z-index: 1;
}

.exhibitor-logo-image {
  height: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(234, 87, 62, 0);
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: border-color 200ms ease, -webkit-filter 200ms cubic-bezier(.165, .84, .44, 1);
  transition: border-color 200ms ease, -webkit-filter 200ms cubic-bezier(.165, .84, .44, 1);
  transition: border-color 200ms ease, filter 200ms cubic-bezier(.165, .84, .44, 1);
  transition: border-color 200ms ease, filter 200ms cubic-bezier(.165, .84, .44, 1), -webkit-filter 200ms cubic-bezier(.165, .84, .44, 1);
  -o-object-fit: cover;
  object-fit: cover;
}

.exhibitor-logo-image:hover {
  border-color: #ea573e;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.exhibitors-info {
  width: 400%;
  margin-top: 0.25em;
  text-align: center;
}

.heading-2 {
  padding-bottom: 12px;
}

.links-button-row {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.links-button-row.justify-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.links-button-row.jusity-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.links-button-h3 {
  padding-right: 20px;
  padding-left: 20px;
  -webkit-transform: skew(-37deg, 0deg);
  -ms-transform: skew(-37deg, 0deg);
  transform: skew(-37deg, 0deg);
  color: #ea573e;
}

.inline-block {
  position: relative;
  right: 1%;
  display: inline-block;
}

.skew-button-group {
  position: relative;
}

.background {
  position: absolute;
  left: -20%;
  top: 0%;
  right: auto;
  bottom: auto;
  padding: 10px;
}

.background.rollin-on {
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 1;
  width: 45%;
}

.background.with-tw {
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 30%;
}

.background.hand {
  left: auto;
  top: -3%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  overflow: visible;
  width: 30%;
  -webkit-transition: bottom 600ms cubic-bezier(.68, -.55, .265, 1.55);
  transition: bottom 600ms cubic-bezier(.68, -.55, .265, 1.55);
}

.background.hand:hover {
  bottom: -200px;
}

.background.line-group {
  left: auto;
  top: 8%;
  right: -25%;
  bottom: auto;
  z-index: 1;
  overflow: visible;
  width: 90%;
  height: 500px;
}

.background.circle {
  left: 10.9em;
  top: -18%;
  right: auto;
  bottom: 0%;
  width: 6em;
  height: 6em;
  border-style: solid;
  border-width: 4px;
  border-color: #ea573e;
  border-radius: 50%;
}

.background.circle._2 {
  top: 50%;
}

.background.circle._3 {
  top: 170%;
}

.background.right {
  left: auto;
  top: auto;
  right: -30%;
  bottom: 0%;
}

.background.image {
  position: static;
  max-width: none;
}

.flash-line {
  position: absolute;
  width: 100%;
  height: 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(45%, rgba(233, 224, 218, 0.3)), color-stop(55%, rgba(233, 224, 218, 0.3)), to(#fff));
  background-image: linear-gradient(90deg, #fff, rgba(233, 224, 218, 0.3) 45%, rgba(233, 224, 218, 0.3) 55%, #fff);
}

.flash-line._15 {
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.flash-line._30 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.flash-line._45 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.flash-line._60 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.flash-line._75 {
  -webkit-transform: rotate(75deg);
  -ms-transform: rotate(75deg);
  transform: rotate(75deg);
}

.flash-line._90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.flash-line._105 {
  -webkit-transform: rotate(105deg);
  -ms-transform: rotate(105deg);
  transform: rotate(105deg);
}

.flash-line._120 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.flash-line._135 {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.flash-line._150 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.flash-line._165 {
  -webkit-transform: rotate(165deg);
  -ms-transform: rotate(165deg);
  transform: rotate(165deg);
}

.clip-element {
  position: relative;
  width: 330px;
  height: 160px;
  background-color: #ea573e;
}

.lineup-item-info-bold {
  display: block;
  width: 60%;
  padding-right: 0.5em;
  padding-left: 0.5em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: -webkit-box-flex 300ms ease, -webkit-flex 300ms ease;
  transition: -webkit-box-flex 300ms ease, -webkit-flex 300ms ease;
  transition: flex 300ms ease;
  transition: flex 300ms ease, -webkit-box-flex 300ms ease, -webkit-flex 300ms ease, -ms-flex 300ms ease;
  font-weight: 700;
  text-align: center;
}

.lineup-nav-text {
  color: #ea573e;
}

.lineup-nav-button {
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lineup-scroll-tracker {
  width: 100%;
  margin-bottom: 1170px;
}

.lineup-scroll-tracker.narrative-features {
  top: 60px;
}

.horizontal-scroll-trackers {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5850px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.vertical-slice {
  position: absolute;
  left: 280px;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 1;
  width: 4px;
  height: 100%;
  margin-right: 100px;
  background-color: #ea573e;
  -webkit-transform: skew(37deg, 0deg);
  -ms-transform: skew(37deg, 0deg);
  transform: skew(37deg, 0deg);
}

.vertical-slice.small {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 60%;
}

.vertical-slice.small.documentaries {
  left: 14em;
  top: 0px;
  right: auto;
  bottom: 8em;
}

.vertical-slice.small.animations {
  left: auto;
  top: 0%;
  right: 14em;
  bottom: 0%;
}

.vertical-slice.small.short-film {
  left: 16em;
  top: 0%;
  right: auto;
  bottom: auto;
}

.vertical-slice.small.vr {
  left: auto;
  top: 0%;
  right: 8em;
  bottom: auto;
}

.vertical-slice.documentaries {
  left: auto;
  right: 10em;
  bottom: auto;
}

.vertical-slice.animations {
  left: 18em;
  right: auto;
  bottom: 0%;
}

.vertical-slice.short-films {
  left: auto;
  top: 0px;
  right: 6em;
  bottom: auto;
}

.vertical-slice.vr {
  left: 16em;
  top: 0%;
  right: auto;
  bottom: auto;
}

.lineup-h3 {
  position: absolute;
  left: 150px;
  top: auto;
  right: auto;
  bottom: 10px;
  color: #ea573e;
  text-align: center;
}

.lineup-h3.documentaries {
  left: auto;
  top: 0%;
  right: 0em;
  bottom: auto;
}

.lineup-h3.animations {
  left: 8em;
  top: auto;
  right: auto;
  bottom: 2em;
}

.lineup-h3.short-film {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.lineup-h3.vr {
  left: 8em;
  top: 10em;
}

.stroke {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 3;
  width: 4px;
  height: 100%;
  background-color: #ea573e;
}

.stroke.right {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.large-slice {
  position: absolute;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
}

.cannes {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  width: 120px;
}

.cannes.right {
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.width1170px {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  height: 500px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.youtube {
  z-index: 2;
}

.thevideo {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.video-2 {
  display: none;
}

.youtube-2 {
  display: none;
}

@media screen and (max-width: 991px) {
  .linup-list-grid {
    grid-template-areas: "Area Area"
      "Area-2 Area-2";
  }

  .lineup-list-item {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .selections-list-item {
    background-size: auto, auto 330px;
  }

  .selections-list-item.moneyboys {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(23%, #262626), color-stop(35%, rgba(16, 16, 16, 0)), color-stop(65%, rgba(16, 16, 16, 0)), color-stop(77%, #262626)), url('../images/money_boys4.png');
    background-image: linear-gradient(90deg, #262626 23%, rgba(16, 16, 16, 0) 35%, rgba(16, 16, 16, 0) 65%, #262626 77%), url('../images/money_boys4.png');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, contain;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, scroll;
  }
}

#w-node-_7684b8f2-df3b-b90c-c9a7-cc362a61f868-53655030 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area;
}

#w-node-ef235f95-f955-b09b-6437-00d17ed656bf-53655030 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area-2;
}

#w-node-e8cf0de4-647b-9e4a-8ba2-1b56a5a60438-53655030 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area;
}

#w-node-e8cf0de4-647b-9e4a-8ba2-1b56a5a6043c-53655030 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area-2;
}

#w-node-_47f678eb-a5f9-ca39-2451-1e632413fd5c-53655030 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area;
}

#w-node-e7e6c0c0-20f3-7865-5276-9b2c4947bab3-53655030 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area;
}

#w-node-_4b26a1cb-50f2-42e9-c8be-ba911e45aa43-53655030 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area-2;
}

#w-node-cd4e0b11-f10f-856c-f78d-ea5c40908893-53655030 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area;
}

#w-node-_2a5aeb96-4ecf-0129-324b-8006e0371fc1-53655030 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area;
}

#w-node-_547f12e8-1127-5732-f606-b959825a806c-53655030 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area;
}

#w-node-_7ac393a2-8994-0afe-18b9-a8a446513d98-53655030 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area;
}

#w-node-_93b6c887-b005-23b7-b5f7-134f3a749b76-53655030 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area;
}

#w-node-_93b6c887-b005-23b7-b5f7-134f3a749b7a-53655030 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area-2;
}

#w-node-_6db359a3-70a9-b223-b139-06ebbc01ae1a-53655030 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area;
}

#w-node-_1ae6b374-2df5-b9b9-701a-d32a5c9caeb9-53655030 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area;
}

#w-node-_39d034b9-77f5-f191-47d2-c82ff8bd6341-53655030 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area-2;
}

#w-node-e36ce023-772b-528f-0fce-fb84eb2030d1-53655030 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area;
}

#w-node-aacd834c-73a3-904f-257a-6e9536087998-53655030 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area-2;
}

#w-node-c42238d9-b924-1eb7-1a12-674803305eed-53655030 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area;
}

#w-node-c42238d9-b924-1eb7-1a12-674803305ef1-53655030 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area-2;
}

#w-node-_1fa8fa87-16de-27c6-d2be-e8118ba10506-53655030 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Area;
}

@media screen and (max-width: 991px) {
  #w-node-_7684b8f2-df3b-b90c-c9a7-cc362a61f868-53655030 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-ef235f95-f955-b09b-6437-00d17ed656bf-53655030 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-e8cf0de4-647b-9e4a-8ba2-1b56a5a60438-53655030 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-e8cf0de4-647b-9e4a-8ba2-1b56a5a6043c-53655030 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-_47f678eb-a5f9-ca39-2451-1e632413fd5c-53655030 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-e7e6c0c0-20f3-7865-5276-9b2c4947bab3-53655030 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-_4b26a1cb-50f2-42e9-c8be-ba911e45aa43-53655030 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-cd4e0b11-f10f-856c-f78d-ea5c40908893-53655030 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-_2a5aeb96-4ecf-0129-324b-8006e0371fc1-53655030 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-_547f12e8-1127-5732-f606-b959825a806c-53655030 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-_7ac393a2-8994-0afe-18b9-a8a446513d98-53655030 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-_93b6c887-b005-23b7-b5f7-134f3a749b76-53655030 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-_93b6c887-b005-23b7-b5f7-134f3a749b7a-53655030 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-_6db359a3-70a9-b223-b139-06ebbc01ae1a-53655030 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-_1ae6b374-2df5-b9b9-701a-d32a5c9caeb9-53655030 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-_39d034b9-77f5-f191-47d2-c82ff8bd6341-53655030 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-e36ce023-772b-528f-0fce-fb84eb2030d1-53655030 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-aacd834c-73a3-904f-257a-6e9536087998-53655030 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-c42238d9-b924-1eb7-1a12-674803305eed-53655030 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-c42238d9-b924-1eb7-1a12-674803305ef1-53655030 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  #w-node-_1fa8fa87-16de-27c6-d2be-e8118ba10506-53655030 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}